<?xml version="1.0"?>
<config>
    <modules>
        <Webjump_Developer>
            <version>0.0.1</version>
        </Webjump_Developer>
    </modules>
    <frontend>
        <layout>
			<updates>
				<webjump_developer module="webjump_developer">
					<file>webjump_developer.xml</file>
				</webjump_developer>
			</updates>
		</layout>
    </frontend>
    <global>
        <helpers>
            <webjump_developer>
                <class>Webjump_Developer_Helper</class>
            </webjump_developer>
        </helpers>
    </global>
</config>
